/**
 * Place your custom styles here.
 */

 /**
  * common CSS
  */
body .h1,
body h1 {
  font-size: 24px;
}

body .h2,
body h2 {
  font-size: 20px;
}

body .main-container {
  font-family: Verdana, "Microsoft Yahei", 微软雅黑, Arial, Helvetica, clean, sans-serif, STXihei, 华文细黑;
  margin-top: 24px;
}

header.navbar.navbar-default {
  margin-bottom: 0;
}

.region-content{
  min-height: 420px;
  margin: 0 12px;
}

.region-content > h1 {
  display: none;
}

.region-navigation nav{
  float: left;
  margin-left: 24px;
}

.region-navigation .logo.navbar-btn img {
  height: 34px;
}

/**
 *
 */
md-content table.dataTable tr {
  color: #777;
}

.dataTables_length > label {
  font-weight: normal;
  font-size: 12px;
}

.dataTables_filter > label > input {
  font-weight: normal;
  font-size: 12px;
}
