/* hide edit-relations--content */
.taxonomy-term-form .js-form-item.panel {
  display: none;
}

/* hide description text format option */
.taxonomy-term-form .field--name-description.field--widget-text-textarea #edit-description-0-format {
  display: none;
}

/**
 * hide vertical-tabs
 */
.node-form .form-item.form-type-vertical-tabs {
  display: none;
}

/**
 * hide vertical-tabs
 */
.region-content > form.node-form{
  max-width: 600px;
}
